  <div class="container my-3 flex">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h3><%= @user.name %> さん</h3>
        <hr>
        <%= attachment_image_tag @user, :profile_image, size: '200x200', format: 'jpeg', fallback: "no_image.png", class: "img-fluid my-4 rounded-circle"; %>
        <hr>
        <p><%= @user.introduction %></p>
          <% if @user.id == current_user.id %>
            <p><%= link_to " プロフィール編集", edit_user_path(@user), class: "btn btn-block btn-secondary fas fa-user-cog" %></p>
         <% end %>
      </div>
      <div class="col-md-6">
        <h3><%= @user.name %>さんの投稿</h3>
        <hr>
        <% @post_images.each do |post_image| %>
        <div class="card shadow-sm my-3" style="width: 40rem height: 40rem;">
            <%= link_to post_image_path(post_image.id) do %>
              <h5 class="card-header text-center"><%= post_image.spot_name %></h5>
            <% end %>
            <div class="card-img-top p-4">
      　　　　　　<%= link_to post_image_path(post_image.id) do %>
                <%= attachment_image_tag post_image, :image, class: "img-fluid" %>
              <% end %>
            </div>
           <div class="card-body">
             <p class="card-title"><%= post_image.island_name %></p>
             <p class="card-text">投稿日：<%= post_image.created_at.strftime('%Y/%m/%d') %></p>
           </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>

